<html>
    <head>
    <title>Cloud RI</title>

    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cloud RI is a passionate group connecting, presenting and networking around cloud technology. Discussing the latest trends, sharing experiences and talking about cloud.">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="/styles/theme.css"> 

    <script type="module" src="/components/header.js" data-gwd-opt="static"></script>
    <script type="module" src="/components/footer.js" data-gwd-opt="static"></script>
  </head>
  <body>
    <app-header></app-header>

    <div class="home">
        <page-outlet></page-outlet>
    </div>

    <app-footer></app-footer>
  </body>
</html>